In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kalmunai,LK,2022-02-02 22:04:21,7.4167,81.8167,74.89,74,84,3.18
1,1,Varnamo,SE,2022-02-02 22:04:21,57.1860,14.0400,27.48,94,13,4.97
2,2,Bilma,NE,2022-02-02 22:04:22,18.6853,12.9164,61.74,17,0,13.44
3,3,Ushuaia,AR,2022-02-02 22:01:00,-54.8000,-68.3000,46.76,59,94,6.82
4,4,Butaritari,KI,2022-02-02 22:03:54,3.0707,172.7902,81.73,79,29,17.83

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Butaritari,KI,2022-02-02 22:03:54,3.0707,172.7902,81.73,79,29,17.83
6,6,Carnarvon,AU,2022-02-02 22:04:22,-24.8667,113.6333,78.04,79,75,13.27
7,7,Georgetown,MY,2022-02-02 22:01:41,5.4112,100.3354,80.53,85,20,2.30
14,14,Mogadishu,SO,2022-02-02 22:04:24,2.0371,45.3438,77.92,86,79,20.15
33,33,Fare,PF,2022-02-02 22:04:28,-16.7000,-151.0167,81.09,73,14,16.42
34,34,Sao Luis,BR,2022-02-02 22:04:28,-2.5297,-44.3028,82.60,94,40,12.66
37,37,Coahuayana,MX,2022-02-02 22:04:29,18.7333,-103.6833,85.48,37,0,6.98
40,40,Tomatlan,MX,2022-02-02 22:04:29,19.9333,-105.2500,82.85,35,0,10.45
44,44,Vaini,TO,2022-02-02 22:03:41,-21.2000,-175.2000,86.16,74,40,5.75
46,46,Atuona,PF,2022-02-02 22:02:59,-9.8000,-139.0333,77.59,77,92,15.05

In [12]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4   Butaritari      KI     81.73   3.0707  172.7902
6    Carnarvon      AU     78.04 -24.8667  113.6333
7   Georgetown      MY     80.53   5.4112  100.3354
14   Mogadishu      SO     77.92   2.0371   45.3438
33        Fare      PF     81.09 -16.7000 -151.0167
34    Sao Luis      BR     82.60  -2.5297  -44.3028
37  Coahuayana      MX     85.48  18.7333 -103.6833
40    Tomatlan      MX     82.85  19.9333 -105.2500
44       Vaini      TO     86.16 -21.2000 -175.2000
46      Atuona      PF     77.59  -9.8000 -139.0333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Butaritari,KI,81.73,3.0707,172.7902,Isles Sunset Lodge
6,Carnarvon,AU,78.04,-24.8667,113.6333,Hospitality Carnarvon
7,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
14,Mogadishu,SO,77.92,2.0371,45.3438,Hotel Juba
33,Fare,PF,81.09,-16.7000,-151.0167,Maitai Lapita Village Huahine
34,Sao Luis,BR,82.60,-2.5297,-44.3028,Solar das Pedras Hostel
37,Coahuayana,MX,85.48,18.7333,-103.6833,El rranchito michuacan de ocampos
40,Tomatlan,MX,82.85,19.9333,-105.2500,El Salvial
44,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
46,Atuona,PF,77.59,-9.8000,-139.0333,Villa Enata

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))